<div id="about-veri">
	<div class='remove'>
		<span class='glyphicon glyphicon-remove'></span>
	</div>
	<div id="veri">
	  <h1>Verification/Ebay</h1>
	</div>

	<p id="veri-p">
		<strong>
			A comprehensive CMS system for user to handle orders, created solutions of communicating manufacturer and customers.
		</strong>
	</p>

	<h2>Skills</h2>

	<ul>
		<li>Ruby / Rails / RSpec</li>
		<li>HTML / CSS</li>
		<li>JavaScript / JQuery / AJAX</li>
		<li>PostgreSQL</li>
		<li>Git / Github / BitBucket</li>
		<li>Producteev</li>
	</ul>
</div>