<div id="about-me">
	<div class='remove'>
		<span class='glyphicon glyphicon-remove'></span>
	</div>
	<div id="myself">
	  <h1>About me</h1>
	</div>

	<p id="myself-p">
		<strong>
			As an accomplished individual with a strong background in Ruby, NodeJS and both SQL and NoSQL databases, I have much experience of creating logical and innovative solutions to complex problems. I can be a strong driving force for improving the performance, scalability and reliability of development projects. As a self directed and self-managed person I am always pushing myself to deliver on-going process improvements in anything I do. Right now I am looking for a suitable position and to join an enthusiastic team who enjoy what they do.
		</strong>
	</p>

	<h2>Background</h2>

	<p>
		My Bachelor's degree was not major in computer science. However, I learnt a series of skills in undergraduate college such as mathematics, group management and communication. My enthusiasm in music motivated me to form a group which became Chamber Orchestra in Southeast University.
		In University of Florida, I've taken multiple courses related to computer science. Found myself more interested in coding, I attended GA's training and turned my to be a web developer. Coding for me is just like playing piano, to create powerful tools and to enjoy myself.
	</p>
</div>
