<div id="about-veri">
	<div class='remove'>
		<span class='glyphicon glyphicon-remove'></span>
	</div>
	<div id="veri">
	  <h1>Verification/Ebay</h1>
	</div>

	<p id="veri-p">
		<strong>
			A user interface to verify products between manufacturer and amazon listings. Workers to gather information from AWS and output.
			<ul>
				<li>Connect with Amazon AWS API for product information.</li>
				<li>Read and parse uploaded files for new products.</li>
				<li>Displaying manufacturer vs amazon information details.</li>
				<li>Getting ebay leaf information by pairing.</li>
				<li>Set connections between clients and manufacturer.</li>
				<li>Socket connections for real-time updates.</li>
				<li>Submitting amazon feeds for auto-pm process.</li>
			</ul>
		</strong>
	</p>

	<h2>Skills</h2>

	<ul>
		<li>Ruby / Rails / RSpec</li>
		<li>HTML / CSS</li>
		<li>JavaScript / JQuery / AJAX</li>
		<li>PostgreSQL</li>
		<li>Git / Github / BitBucket</li>
		<li>Producteev</li>
	</ul>
</div>