<div id="about-apn">
	<div class='remove'>
		<span class='glyphicon glyphicon-remove'></span>
	</div>
	<div id="apn">
	  <h1>Perform Notification</h1>
	</div>

	<p id="apn-p">
		<strong>
			A user interface for handling amazon performance notifications in one place.
		<ul>
			<li>Polling down notifications from gmail and scraping from amazon websites.</li>
			<li>Create CMS for performance details.</li>
			<li>Create analysis chart to show statistics</li>
			<li>Set connections between clients and amazon.</li>
			<li>Socket connections for real-time updates.</li>
			<li>Resque delayed jobs for sending inquiry emails.</li>
		</ul>
		</strong>
	</p>

	<h2>Skills</h2>

	<ul>
		<li>Ruby / Rails / RSpec</li>
		<li>HTML / CSS</li>
		<li>JavaScript / JQuery / AJAX</li>
		<li>MongoDB</li>
		<li>Git / Github / BitBucket</li>
		<li>Producteev</li>
	</ul>
</div>
