<div id="about-ofp">
	<div class='remove'>
		<span class='glyphicon glyphicon-remove'></span>
	</div>
	<div id="ofp">
	  <h1>Order Fulfillment</h1>
	</div>

	<p id="ofp-p">
		<strong>
			A comprehensive CMS system for user to handle orders, created solutions of communicating manufacturer and customers.
		</strong>
	</p>

	<h2>Skills</h2>

	<ul>
		<li>Ruby / Sinatra / RSpec</li>
		<li>HTML / CSS</li>
		<li>JavaScript / JQuery / AJAX</li>
		<li>Angular.js / d3.js</li>
		<li>MongoDB</li>
		<li>Git / Github / BitBucket</li>
		<li>Producteev</li>
	</ul>
</div>
