<div id="about-ofp">
	<div class='remove'>
		<span class='glyphicon glyphicon-remove'></span>
	</div>
	<div id="ofp">
	  <h1>Order Fulfillment</h1>
	</div>

	<p id="ofp-p">
		<strong>
			A comprehensive CMS system for user to handle orders, created solutions of communicating manufacturer and customers.
			<ul>
				<li>Listen Amazon MWS API for order updates.</li>
				<li>Create CMS for order details, based on order status.</li>
				<li>Send Amazon Feeds for confirm shipment and cancellation.</li>
				<li>Create CMS for manufacturer details.</li>
				<li>Set connections between manufacturers and customers.</li>
				<li>Socket connections for real-time updates.</li>
				<li>Resque delayed jobs for sending inquiry emails.</li>
				<li>Association tools for orders</li>
			</ul>
		</strong>
	</p>

	<h2>Skills</h2>

	<ul>
		<li>Ruby / Sinatra / RSpec</li>
		<li>HTML / CSS</li>
		<li>JavaScript / JQuery / AJAX</li>
		<li>Angular.js / d3.js</li>
		<li>MongoDB</li>
		<li>Git / Github / BitBucket</li>
		<li>Producteev</li>
	</ul>
</div>
