<div id="about-apn">
	<div class='remove'>
		<span class='glyphicon glyphicon-remove'></span>
	</div>
	<div id="apn">
	  <h1>Perform Notification</h1>
	</div>

	<p id="apn-p">
		<strong>
			A user interface for handling amazon performance notifications in one place.
		</strong>
	</p>

	<h2>Skills</h2>

	<ul>
		<li>Ruby / Rails / RSpec</li>
		<li>HTML / CSS</li>
		<li>JavaScript / JQuery / AJAX</li>
		<li>MongoDB</li>
		<li>Git / Github / BitBucket</li>
		<li>Producteev</li>
	</ul>
</div>
