<div id="about-portlight">
	<div class='remove'>
		<span class='glyphicon glyphicon-remove'></span>
	</div>
	<div id="portlight">
	  <h1>About Portlight</h1>
	</div>

	<p id="portlight-p">
		<strong>
			In Portlight, I'm responsible for working closely with the executive team to organize the web presence of clients, and to develop rich user interfaces for them.
		</strong>
	</p>

	<h2>Roles</h2>

	<ul>
		<li>Designing, coding and testing of Ruby & NodeJS Applications, select optimal frameworks based on different needs.</li>
		<li>Configure back-end SQL and NoSQL databases.</li>
		<li>Initial and configure server side setup.</li>
		<li>Use front-end frameworks to organize approach.</li>
		<li>Proofreading and copyediting content for websites. </li>
		<li>Monitoring website and platform performance.  </li>
		<li>Writing up status reports for senior managers. </li>
		<li>Developing enterprise CMS systems.  </li>
		<li>Overseeing the hosting environment for websites. </li>
		<li>Specifying system changes that meet clients’ requirements.</li>
		<li>Meeting with customers and end users to analyse their needs. </li>
		<li>Investigating, fixing, and debugging application defects. </li>
		<li>Realized a 50% savings by improving order fulfilment system.</li>
	</ul>
</div>
