<%= render 'layouts/nav_bar' %>

<div id="page-content">
<div id="myself">
  <h1>About me</h1>
</div>

<p id="myself-p"><strong>Before I was a Rails developer, I was a student from University of Florida. My major was Mechanical Engineering. I took several courses regarding Computer Science. In 2014, I attended GA for Web Development Course and learnt Ruby on Rails, Javascript and had done several projects with that.</strong></p>

<h2>Background</h2>

<p>My Bachelor's degree was not major in Computer Science. However, I've learnt a series skills from my undergraduate such as mathematics, group management and communication. Based on my enthusiasm on music, I formed a group which became Chamber Orchestra in Southeast University. Also I used to be the Vice president of Student Association in SEU which increase my skills of communication with different people. Coding is just like playing piano, you create a lot of wonderful things to make people happy and enjoy there life, I'm fond of Piano, and Codes!</p>
</div>
