@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #ecf0f1;
}

#nav-bar { height: 70px; }

.navbar-nav {
  font-size : 15px;
}
.navbar-nav li{
  padding-right:20px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.video-background video {
  min-height: 100%;
  min-width:100%;
}

#yiyang {
  margin-right: 20px;
  text-decoration:none;
}

#yiyang img {
  display:inline-block;
}

#yiyang span {
  margin-left: 5px;
  color:#2c3e50;
}

.nav-li{
  margin-top: 11px;
  margin-left: 20px;
  text-decoration:none;
}

#live_long{
  margin-top: 24px;
  margin-right: 20px;
  text-decoration:none;
  font-family: 'Pacifico', cursive;
  cursor:default;
}

#mute{
  margin-top: 24px;
  margin-right: 5px;
  text-decoration:none;
  cursor:pointer;
  padding-right:60px;
}

#mute-img{
  height:20px;
  width: 20px;
  /*background-color: #f8f8f8;*/
}

#projects{
  float: right;
  margin-top: 15px;
  margin-left: 20px;
  text-decoration:none;
}

#pic{
  max-height: 40px;
  margin-right:10px;
}
#dropdown-li a{
  text-decoration:none;
}
/*#dropdown {
  background-color: #7f8c8d;
}*/
#dropdown li{
  /*background-color: #7f8c8d;*/
  height: 30px;
}

#about-me, #about-portlight {
  position: relative;
  background-color: #ecf0f1;
  display: none;
  padding: 40px;
  max-width: 600px;
  margin-left: 60px;
  height: 600px;
  opacity: 0.9;
}

#about-ofp, #about-apn, #about-veri {
  position: relative;
  background-color: #ecf0f1; /* #bdc3c7;*/
  display: none;
  padding: 40px;
  max-width: 600px;
  margin-right: 50px;
  margin-left: 20px;
  height: 600px;
  opacity: 0.9;
}

#all-p {
  display: inline-flex;
}

#myself, #portlight {
  color: #141414;
  font-family: 'Open Sans', sans-serif;
  font-size: 54px;
  line-height: 110%;
  font-weight: 300;
  text-shadow: none;
  margin-top: 0px;
  margin-bottom: 10px;
}

#myself-p, #portlight-p {
  font-size: 15px
}

.remove {
  float:right;
  cursor:pointer;
}

