@import 'bootstrap';
@import 'flat-ui';

body {
  background-color: #ecf0f1;
}
#nav-bar { height: 80px; }

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.video-background video {
  min-height: 100%; 
  min-width:100%; 
}
#yiyang {
  margin-right: 20px;
  text-decoration:none;
}
#yiyang span {
  margin-left: 10px;
  color:#16a085;
}

#linkedIn, #github, #twitter, #dropdown-li {
  margin-top: 15px;
  margin-left: 20px;
  text-decoration:none;
}
#projects{
  float: right;
  margin-top: 15px;
  margin-left: 20px;
  text-decoration:none;
}

#pic{
  max-height: 40px;
  margin-right:10px;
}
#dropdown-li a{
  text-decoration:none;
}
#dropdown {
  background-color: #7f8c8d;
}
#dropdown li{
  background-color: #7f8c8d;
}
#page-content {
  position: relative;
  background-color: #bdc3c7;
  visibility: visible;
  padding: 40px;
  max-width: 500px;
  width: 1286px;
  margin-left: 100px;
  opacity: 0.8;
}



#myself {
  color: #141414;
  font-family: 'Open Sans', sans-serif;
  font-size: 54px;
  line-height: 110%;
  font-weight: 300;
  text-shadow: none;
  margin-top: 0px;
  margin-bottom: 10px;
}

#myself-p {
  font-size: 15px
}

