<nav id="nav-bar" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="yiyang" class="navbar-brand" href="#"><img id="pic" src="http://imgur.com/YJY0SMC.png" alt=".."/><span>Yiyang Song</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a id="linkedIn" target="_blank" href="http://www.linkedin.com/pub/yiyang-song/8a/267/b28">LinkedIn</a></li>
        <li><a id="github" target="_blank" href="https://github.com/songyiyang">Github</a></li>
        <li><a id="twitter" target="_blank" href="https://twitter.com/song_yiyang">Twitter</a></li>
        <li id="dropdown-li" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
          <ul id="dropdown" class="dropdown-menu">
            <li><a target="_blank" href="https://github.com/songyiyang/AdWords/blob/master/adwords.java">AdWords (Codes Only)</a></li>
            <li><a target="_blank" href="http://cloud-radio.herokuapp.com">CloudRadio</a></li>
            <li><a target="_blank" href="http://checkupapp.herokuapp.com">CheckUp</a></li>
            <li><a target="_blank" href="#">Peer-to-Peer (Codes Only)</a></li>
            <li><a target="_blank" href="#">GA-Final</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
