<!DOCTYPE html>
<html>
<head>
  <script src="script/jquery.videobackground.js"></script>
  <title>Yiyang</title>
  <meta property="og:image" content="http://i.imgur.com/qVTCXIr.png">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>
</body>
</html>
