<!DOCTYPE html>
<html>
<head>
  <title>Yiyang Song</title>
  <meta property="og:image" content="http://i.imgur.com/qVTCXIr.png">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>
    <%= yield %>
</body>
</html>
